{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
<div class="text-secondary">
    <h4 class="text-warning">About <em class="logo">FpsoPedia</em></h4>
    <p>This page was created to help seafarers on board DP Shuttle tankers operating in Brazilian oil fields to get the required information regarding FPSO's position reference systems, its status and parameters, cargo data for cargo stowage planning and all other required information regarding connection patterns, flushing water transfer and backflushing requirements.</p>
    <p>Each vessel maintains its own database in different formats and sizes. The most recent information regarding last cargo&apos;s density, API and temp, status of PRS system, and connection pattern is passed from vessel to vessel via email or social media. Administrators&apos; intention is to get all information in one place and make it easy to access and update.
    </p>
    <p>Every user is invited to participate in this process. Everyone can feel free to create the account and add and update the FPSO&apos;s information.</p>
    <p>Administrators of this website do not store any private data and have no access to users&apos; passwords. The login process is required only to add, edit, or delete FPSO and is created only in order to secure the web page database. If you don&apos;t want to create the account, you can still use the page and access all the required information.</p>
    <br>
    <p>In case of any questions or suggestions you can reach us at <a class="link-warning" href="mailto:info@naviidevelopment.atthost24.pl" ><em>info@naviidevelopment.atthost24.pl</em></a></p>
    <br>
    <hr>
    <p>If you like this page and want to help in its development, you can support us on BuyCoffee</p>
    <a href="https://buycoffee.to/naviidevelopment" target="_blank"><img src="https://buycoffee.to/static/img/share/share-button-dark.png" style="width: 234px; height: 61px" alt="Buy me a coffee at buycoffee.to"></a>
    <hr>
    <br>
</div>
{% endblock %}