{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
    <p><b><h4>About <em class="logo">FpsoPedia</em></h3></b></p>
    <p>This page was created to help seafarers on board DP Shuttle tankers operating in Brazilian&apos;s oil fields to get the required information regarding FPSO&apos;s position reference systems, it&apos;s status and parameters, cargo data for cargo stowage planning and all other required information regarding connection patterns, flushing water transfer and backflushing requirements.</p>
    <p>Each vessel maintains its own database, in different formats and sizes. The most recent information regarding last cargo&apos;s density, API and temp, status of PRS system and connection pattern is passed from vessel to vessel via email or social media.
        Administrators&apos; intension is to getter all information in one place. Make it easy to access and update. 
    </p>
    <p>Every user is invited to participate in this process. Everyone can feel free to create the account and to add and update the FPSO&apos;s information.</p>
    <p>Administrators of this website is not gettering any private data and has no access to users&apos; passwords. The login process is required only to add, edit or delete FPSO and is created only in order to secure web page&apos; database. If you don&apos;t want to create the account, you can still use the page and access all required information.</p>
    <br>
    <p>In case of any questions or suggestion you can reach us at <a class="link-secondary" href="mailto:info@naviidevelopment.atthost24.pl" ><em>info@naviidevelopment.atthost24.pl</em></a></p>

{% endblock %}